.bulletin-board {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.poster {
    position: relative;
    /* Needed for absolute positioning of the pin */
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    height: 250px;
    width: 250px;
    text-align: center;
    align-items: center;
}

.grid {
    position: relative;
}

.grid .pin {
    position: absolute;
    left: 45%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    z-index: 2;
}


.poster:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Make sure the pin moves with the poster on hover */


.poster img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.board{
    margin-top:140px;
    background-color: rgb(236, 151, 61);
    border:solid;
    border-color: rgb(124, 64, 0);
    border-width: 2rem;
}
.addbutton {
    position: absolute;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 1rem;
    font: inherit;
    cursor:pointer;
    outline: inherit;
}

.textbox {
    display: flex;
    flex-direction: column;
    height: 40px;
    padding-top:0.4em;
}

.date-location {
    display: flex;
    justify-content: space-between;
}

.date, .location {
    flex: 1;
}
.textbox h2 {
    font-size: 1em; /* Adjust font size as needed */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Keeps the text in a single line */
    text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
    max-width: 100%; /* Ensures the title does not exceed the container width */
}

/* This is to ensure that the date and location are on the same line */
.h2 + .date-location {
    display: flex;
}
